:root {
    --primary: #007C97;
    --secondary: #01657A;
    --white-bg: #E0E0E0;

    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
}

.header {
    background-color: var(--secondary);
    text-align: center;
    padding: .75rem 0;
}

.footer {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
}
